{% extends "blog/base.html" %}
{% block maincontent %}
<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="card">
        <div class="container">
            <a href="{% url 'blog-sm-display' %}"><h4><b>Display Schedule</b></h4></a>
            <p>Access the schedule and class details</p>
        </div>
    </div>
    <div class="card">
        <div class="container">
            <a href="{% url 'blog-sm-manage' %}"><h4><b>Manage Schedule</b></h4></a>
            <p>Manage the schedule for upcoming events</p>
        </div>
    </div>
</div>
{% endblock maincontent %}